<section>
    Test
    {{#each artist}}
<div>
    <span><a href="/albums/{{this.id}}">{{this.name}}</a></span>
    {{!-- <span><Link to more</span> --}}
    {{!-- {{#each this.images}} --}}
    <img src="{{this.images.1.url}}">
    {{!-- {{/each}} --}}
</div>
    {{/each}}
</section>


    {{!-- {{#each this.images}}
    <img src="{{this.url}}">
    {{/each}} --}}